<ion-content>
    <img src="../../assets/noite_estrelada.jpg" class="obra" alt="Search Icon">

    <div class="desc">
        Noite Estrelada é uma pintura de Vincent van Gogh de 1889. A obra retrata a vista da janela de um quarto do hospício de Saint-Rémy-de-Provence.
    </div>

    <footer>
        <img src="../../assets/icon/back.png" class="back_btn" routerLink="/visitar" alt="Search Icon">

        <button class="btn-search" routerLink="/obra">
            <img src="../../assets/icon/search.png" alt="Search Icon">
        </button>

        <img src="../../assets/icon/x_button.png" class="x_btn" routerLink="/home" alt="Search Icon">

    </footer>
</ion-content>
