<div class="header">
    <div class="title">
        Acesso
        <div>Administrativo</div>
    </div>
    <div class="config-icon">
        <img src="../../assets/icon/config.png" alt="Config">
    </div>
</div>

<ion-content>

    <div class="principal_btn">
        <div class="btn_register">
            <div class="retangle">
                <div class="icon">
                    <img src="../../assets/icon/beacon.png" alt="Beacon">
                </div>

                <div class="desc">
                    Cadastre aqui uma obra de arte
                </div>
            </div>
        </div>

        <div class="btn_view">
            <div class="retangle">
                <div class="icon">
                    <img src="../../assets/icon/checklist.png" alt="Checklist">
                </div>

                <div class="desc">
                    Cadastre aqui uma obra de arte
                </div>
            </div>
        </div>
    </div>


    <footer>

        <button class="btn-search" routerLink="/obra">
            <img src="../../assets/icon/home.png" alt="Search Icon">
        </button>

        <img src="../../assets/icon/x_button.png" class="x_btn" routerLink="/home" alt="Search Icon">

    </footer>

</ion-content>

