<ion-content>

    <div class="ion-fan-icon">
        <img src="../../assets/icon/fan.png" alt="Fan">
    </div>

    <form>
        <div class="inputs">
            <input type="text" placeholder="Usuário">
            <input type="password" placeholder="Senha">
        </div>
    </form>

    <ion-button shape="round" color="dark" size="large" class="mb-1" expand="full" routerLink="/administrativo">ENTRAR</ion-button>
    <div class="no_account">
        <ion-button shape="round" color="dark" size="small" class="mb-1" expand="full"routerLink="/cadastrar">nao possui conta?</ion-button>
    </div>

</ion-content>
