<ion-content>
  <ion-card color="dark">
    <ion-card-title class="ion-card"></ion-card-title>

    <ion-item>
      <ion-input type="text" placeholder="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="tel" placeholder="telefone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" placeholder="CEP"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="endereço Rua e número"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="bairro"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="complemento"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="usuário"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="confirmar senha"></ion-input>
    </ion-item>
  </ion-card>


  <ion-label class="ion-label1">
      <ion-button [routerLink]="['/home']" routerDirection="forward" color="dark" expand="block" shape="round" size="large">CADASTRAR</ion-button>
    </ion-label>
  
    <ion-label class="ion-label2">
      <ion-button [routerLink]="['/entrar']" routerDirection="forward" color="dark" expand="block" fill="outline"
        shape="round" size="large">JÁ POSSUI UMA CONTA?</ion-button>
    </ion-label>

</ion-content>