ion-icon {
    position: absolute;
    right: 3%;
    width: 50px;
    height: 80px;
}

h1 {
    font-size: 200%;
    font-weight: bold;
}

h5 {
    color: #ffffff;
    font-size: 100%;
    font-weight: bold;
}

h6 {
    color: #ffffff;
    font-size: 100%;
    font-weight: bold;
}